extends layout

block content
  div.container
    div.row
        div.col-md
            div.card.mb-4.box-shadow
                p test
        div.col-md
            div.card.mb-4.box-shadow
        div.col-md
            div.card.mb-4.box-shadow
  